body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.equidad{ color: #0000ff;}

.transparencia{ color: #000078;}

.excelencia{ color: #0000F7;}

.pertinencia{ color:#000038;}

.responsabilidad{ color: #0000DE;}
